In [36]:
import pandas as pd
import numpy as np

In [37]:
life=pd.read_csv('/Users/vaishnaviuttarkar/Life Expectany/Life_Expectancy_Model/CleanedLifeExpectancy.csv')

In [38]:
life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2938 non-null   int64
 1   Country                       2938 non-null   object
 2   Year                          2938 non-null   int64
 3   Status                        2938 non-null   object
 4   Lifeexpectancy                2938 non-null   float64
 5   AdultMortality                2938 non-null   int64
 6   infantdeaths                  2938 non-null   int64
 7   Alcohol                       2938 non-null   float64
 8   percentageexpenditure         2938 non-null   float64
 9   HepatitisB                    2938 non-null   int64
 10  Measles                       2938 non-null   int64
 11  BMI                           2938 non-null   float64
 12  under-fivedeaths              2938 non-null   int64
 13  Polio                         2938 non-null   int64
 14  Totalexpenditure              2938 non-null   float64
 15  Diphtheria                    2938 non-null   int64
 16  HIV/AIDS                      2938 non-null   float64
 17  GDP                           2938 non-null   int64
 18  Population                    2938 non-null   int64
 19  thinness1-19years             2938 non-null   float64
 20  thinness5-9years              2938 non-null   float64
 21  Incomecompositionofresources  2938 non-null   float64
 22  Schooling                     2938 non-null   float64
dtypes: float64(10), int64(11), object(2)
memory usage: 528.0+ KB

In [39]:
life.drop('Unnamed: 0',inplace=True,axis=1)

In [40]:
life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       2938 non-null   object
 1   Year                          2938 non-null   int64
 2   Status                        2938 non-null   object
 3   Lifeexpectancy                2938 non-null   float64
 4   AdultMortality                2938 non-null   int64
 5   infantdeaths                  2938 non-null   int64
 6   Alcohol                       2938 non-null   float64
 7   percentageexpenditure         2938 non-null   float64
 8   HepatitisB                    2938 non-null   int64
 9   Measles                       2938 non-null   int64
 10  BMI                           2938 non-null   float64
 11  under-fivedeaths              2938 non-null   int64
 12  Polio                         2938 non-null   int64
 13  Totalexpenditure              2938 non-null   float64
 14  Diphtheria                    2938 non-null   int64
 15  HIV/AIDS                      2938 non-null   float64
 16  GDP                           2938 non-null   int64
 17  Population                    2938 non-null   int64
 18  thinness1-19years             2938 non-null   float64
 19  thinness5-9years              2938 non-null   float64
 20  Incomecompositionofresources  2938 non-null   float64
 21  Schooling                     2938 non-null   float64
dtypes: float64(10), int64(10), object(2)
memory usage: 505.1+ KB

Label Encoding

In [41]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
a= life.select_dtypes(include='object').columns
for i in a:
    life[i] = le.fit_transform(life[i])

In [42]:
life.dtypes

Country                           int64
Year                              int64
Status                            int64
Lifeexpectancy                  float64
AdultMortality                    int64
infantdeaths                      int64
Alcohol                         float64
percentageexpenditure           float64
HepatitisB                        int64
Measles                           int64
BMI                             float64
under-fivedeaths                  int64
Polio                             int64
Totalexpenditure                float64
Diphtheria                        int64
HIV/AIDS                        float64
GDP                               int64
Population                        int64
thinness1-19years               float64
thinness5-9years                float64
Incomecompositionofresources    float64
Schooling                       float64
dtype: object

Separating dependent and independent variables

In [43]:
life.shape

(2938, 22)

In [44]:
X=life.drop(columns='Lifeexpectancy')
y=life['Lifeexpectancy']

Performing train-test split

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

Feature scaling

In [46]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

Trying out several algorithms

In [47]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

In [48]:
alg=[LinearRegression(),Ridge(),Lasso(),DecisionTreeRegressor(),RandomForestRegressor(),XGBRegressor(),KNeighborsRegressor()]

names=['linearregression','ridgeregression','lassoregression','decisiontreeregressor','randomforestregressor','xgboostregressor','kneighborsregressor']

In [49]:
l1=[]
for i in alg:
    model=i
    model.fit(X_train,y_train)
    y_hat=model.predict(X_test)
    mse=mean_squared_error(y_test,y_hat)
    rmse=sqrt(mse)
    l1.append(rmse)

In [50]:
eval=pd.DataFrame({'Model':names,
                  'RMSE':l1})

In [51]:
eval

                   Model      RMSE
0       linearregression  3.924507
1        ridgeregression  3.932514
2        lassoregression  4.350379
3  decisiontreeregressor  3.068850
4  randomforestregressor  1.846823
5       xgboostregressor  2.026021
6    kneighborsregressor  2.510073

Conclusion: Random forest gives the best accuracy

In [52]:
from sklearn.ensemble import RandomForestRegressor

rr=RandomForestRegressor ()

rr.fit(X_train,y_train)

y_hat=rr.predict(X_test)

In [53]:
y_hat

array([73.147     , 75.913     , 74.658     , 76.435     , 52.352     ,
       51.965     , 65.427     , 74.073     , 76.522     , 54.534     ,
       52.07      , 55.157     , 58.317     , 74.814     , 70.31574795,
       62.085     , 58.051     , 79.234     , 69.246     , 78.988     ,
       81.        , 84.348     , 71.80774795, 68.783     , 71.29399727,
       67.268     , 55.342     , 65.397     , 82.61      , 74.19649863,
       67.442     , 73.91      , 74.097     , 71.722     , 78.573     ,
       48.887     , 59.281     , 72.91074522, 64.111     , 73.895     ,
       55.017     , 60.818     , 75.615     , 80.96      , 76.38      ,
       50.469     , 80.293     , 75.188     , 59.899     , 72.115     ,
       55.888     , 71.002     , 81.845     , 79.366     , 74.883     ,
       57.636     , 72.852     , 75.187     , 64.427     , 70.726     ,
       77.413     , 54.777     , 74.643     , 72.651     , 53.34      ,
       54.013     , 52.123     , 76.971     , 58.584     , 72.496     ,
       82.855     , 77.974     , 73.796     , 52.02      , 54.742     ,
       68.052     , 64.51724932, 75.721     , 58.468     , 62.603     ,
       63.221     , 62.6       , 63.492     , 64.858     , 68.161     ,
       79.76      , 73.289     , 67.389     , 72.665     , 79.922     ,
       73.219     , 54.098     , 74.092     , 76.662     , 75.599     ,
       68.107     , 79.869     , 71.29      , 66.583     , 62.97      ,
       81.399     , 53.635     , 74.414     , 53.856     , 75.369     ,
       80.911     , 71.45999454, 66.517     , 58.159     , 62.441     ,
       65.304     , 62.72      , 53.412     , 69.105     , 64.602     ,
       77.624     , 55.468     , 54.094     , 60.564     , 64.40524932,
       64.74      , 72.846     , 81.873     , 55.85      , 59.303     ,
       64.832     , 72.62574795, 62.41      , 72.9224959 , 72.62224932,
       74.17824932, 83.08      , 72.413     , 66.288     , 51.808     ,
       67.625     , 75.779     , 78.696     , 76.033     , 74.877     ,
       72.83424932, 66.564     , 62.884     , 57.202     , 51.233     ,
       64.487     , 72.725     , 73.71024932, 61.592     , 78.113     ,
       75.549     , 82.35      , 68.23974795, 62.099     , 81.812     ,
       76.173     , 82.54      , 73.114     , 79.069     , 82.13      ,
       73.21824932, 82.087     , 68.431     , 80.529     , 73.529     ,
       65.247     , 58.992     , 82.47      , 78.234     , 72.733     ,
       82.116     , 73.705     , 70.273     , 58.38      , 73.223     ,
       65.258     , 72.66824932, 64.303     , 53.536     , 73.8       ,
       82.491     , 68.483     , 78.97      , 74.363     , 80.095     ,
       45.188     , 65.221     , 51.875     , 72.16      , 72.53174522,
       61.429     , 68.763     , 81.378     , 61.063     , 76.685     ,
       68.094     , 74.496     , 69.003     , 81.025     , 73.017     ,
       73.471     , 56.979     , 74.724     , 70.62      , 65.909     ,
       50.661     , 74.562     , 68.65      , 73.085     , 82.142     ,
       61.986     , 54.713     , 73.59449863, 52.624     , 59.577     ,
       62.257     , 66.665     , 76.14      , 60.98      , 68.32399727,
       76.546     , 74.438     , 77.752     , 79.131     , 75.145     ,
       49.718     , 52.057     , 75.148     , 55.091     , 62.22      ,
       72.128     , 74.874     , 65.213     , 74.436     , 73.24074522,
       50.832     , 79.345     , 79.081     , 51.709     , 75.123     ,
       74.56      , 71.412     , 73.18674795, 72.36499454, 59.734     ,
       54.049     , 83.048     , 72.866     , 75.721     , 64.436     ,
       67.902     , 78.783     , 58.356     , 83.81      , 74.468     ,
       68.438     , 57.304     , 81.564     , 57.466     , 53.228     ,
       66.462     , 67.345     , 61.628     , 52.301     , 73.094     ,
       81.489     , 68.964     , 78.484     , 50.496     , 56.94      ,
       58.044     , 51.991     , 73.29      , 74.223     , 48.69      ,
       72.445     , 59.542     , 73.332     , 64.01424932, 64.229     ,
       66.454     , 79.014     , 57.886     , 74.155     , 76.292     ,
       63.706     , 73.672     , 45.977     , 63.747     , 74.817     ,
       64.79      , 73.58524932, 64.577     , 75.252     , 76.284     ,
       63.457     , 77.122     , 72.769     , 48.334     , 72.5       ,
       76.156     , 74.764     , 73.22524932, 74.937     , 78.54      ,
       50.448     , 56.086     , 54.025     , 72.34249863, 78.177     ,
       75.138     , 57.326     , 73.329     , 63.633     , 68.627     ,
       64.794     , 48.83      , 72.991     , 56.96      , 80.055     ,
       53.981     , 78.969     , 54.201     , 72.564     , 69.29373975,
       77.86      , 74.994     , 71.91624932, 73.945     , 82.167     ,
       71.474     , 69.36024932, 65.761     , 67.22      , 75.974     ,
       84.004     , 68.493     , 74.567     , 72.917     , 72.263     ,
       65.103     , 74.098     , 74.652     , 72.231     , 72.89624932,
       53.375     , 58.368     , 74.549     , 71.804     , 76.141     ,
       60.319     , 69.725     , 63.081     , 57.091     , 74.909     ,
       81.762     , 67.288     , 69.20222746, 73.244     , 76.733     ,
       55.457     , 73.022     , 76.802     , 66.911     , 69.676     ,
       62.866     , 58.58      , 75.912     , 62.365     , 75.309     ,
       73.18624932, 56.819     , 73.        , 76.226     , 73.502     ,
       72.65474795, 59.53      , 72.512     , 72.914     , 67.336     ,
       52.574     , 82.27      , 80.918     , 82.843     , 63.387     ,
       54.828     , 72.996     , 58.495     , 68.418     , 74.293     ,
       54.586     , 78.586     , 73.976     , 80.632     , 65.061     ,
       66.473     , 81.576     , 72.98974795, 85.177     , 73.927     ,
       52.739     , 78.465     , 52.572     , 69.915     , 64.077     ,
       59.784     , 70.938     , 72.359     , 69.01124932, 73.357     ,
       73.581     , 82.186     , 81.496     , 72.864     , 67.726     ,
       69.451     , 63.262     , 72.81699727, 71.049     , 70.051     ,
       64.669     , 59.735     , 66.476     , 72.914     , 73.36099727,
       76.275     , 56.761     , 62.015     , 71.55      , 69.947     ,
       48.451     , 76.014     , 71.809     , 67.939     , 45.811     ,
       56.011     , 54.049     , 66.445     , 69.34174795, 76.32      ,
       74.509     , 71.14799727, 73.17874795, 78.405     , 81.4       ,
       68.088     , 76.195     , 80.419     , 78.868     , 56.493     ,
       83.402     , 61.262     , 69.55198907, 73.93449863, 52.955     ,
       80.42      , 82.173     , 51.957     , 68.003     , 73.63324932,
       72.551     , 60.656     , 62.742     , 64.675     , 61.837     ,
       56.299     , 82.078     , 71.75      , 82.436     , 68.36924932,
       73.751     , 75.518     , 71.914     , 72.60524932, 82.464     ,
       68.279     , 63.468     , 67.372     , 80.542     , 77.184     ,
       76.642     , 70.492     , 73.415     , 72.691     , 67.069     ,
       79.526     , 75.234     , 81.699     , 71.99849863, 75.993     ,
       72.52424932, 71.572     , 52.577     , 66.79      , 69.834     ,
       63.97      , 83.889     , 73.614     , 63.072     , 71.841     ,
       74.873     , 57.224     , 81.858     , 72.56824932, 75.791     ,
       81.984     , 72.838     , 81.071     , 75.515     , 74.348     ,
       63.133     , 69.634     , 71.37824932, 70.33799727, 52.422     ,
       63.269     , 61.515     , 63.117     , 69.633     , 59.173     ,
       70.697     , 83.208     , 69.05      , 75.09      , 68.851     ,
       64.338     , 63.958     , 71.247     , 76.786     , 82.417     ,
       54.826     , 72.356     , 74.235     , 80.053     , 72.432     ,
       82.811     , 72.506     , 75.314     , 83.635     , 81.194     ,
       77.263     , 52.641     , 56.46      , 69.81624932, 74.904     ,
       63.288     , 71.65324932, 57.734     , 56.455     , 72.719     ,
       74.944     , 58.132     , 83.497     , 55.954     , 74.672     ,
       69.58924932, 77.655     , 68.891     , 76.022     , 79.169     ,
       59.574     , 82.369     , 82.519     , 74.952     , 49.252     ,
       74.955     , 79.686     , 84.269     , 54.296     , 72.727     ,
       74.114     , 63.461     , 78.315     , 72.394     , 73.31724932,
       67.71      , 72.7664959 , 70.651     , 57.11      , 74.366     ,
       56.06      , 78.045     , 79.858     , 58.594     , 73.843     ,
       63.377     , 70.951     , 73.894     ])

In [54]:
from sklearn.metrics import r2_score
r2_score(y_hat,y_test)

0.9578055032310973

In [55]:
life.columns

Index(['Country', 'Year', 'Status', 'Lifeexpectancy', 'AdultMortality',
       'infantdeaths', 'Alcohol', 'percentageexpenditure', 'HepatitisB',
       'Measles', 'BMI', 'under-fivedeaths', 'Polio', 'Totalexpenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness1-19years',
       'thinness5-9years', 'Incomecompositionofresources', 'Schooling'],
      dtype='object')

In [56]:
rr.predict([[15,2016,1,100,1000,3.4,56.6,80,8000,19.1,800,90,5.9,90,0.3,1500.1,13245172,20.1,26.5,0.643,11.1]])

array([48.849])

In [57]:
rr.predict([[20,2017,0,100,1000,4.4,57.6,80,9000,18.1,700,80,6.9,80,0.4,2500.1,132451723,21.1,25.5,0.463,12.1]])

array([48.894])

- Testing training data as an input

Expected = 79.7

In [58]:
# Iceland-2000 (79.7)
rr.predict([[75,2000,0,74,0,6.17,5809.122,80,0,54.2,0,98,9.28,98,0.1,74,28125,1,0.9,0.847,16.8]])

array([49.822])

In [59]:
# Iraq-2015 (68.9)
rr.predict([[79,2015,1,182,32,4.602861,0,56,1433,59.1,38,63,5.93819,58,0.1,182,36115649,5.3,5.1,0.649,10.1]])

array([49.829])

In [60]:
# Greece-2014 (88)
rr.predict([[66,2014,1,73,0,7.53,2163.043,96,1,66,0,99,8.8,99,0.1,73,1892413,0.8,0.7,0.862,17.2]])

array([49.788])

In [62]:
# Cyprus-2015 (85)
rr.predict([[43,2015,0,52,0,4.602861,0,97,0,6.3,0,97,5.93819,97,0.1,52,116985,1,1,0.854,14.3]])

array([49.822])

In [63]:
# Hungary-2011 (74.8)
rr.predict([[74,2011,0,15,0,11.51,17.82122,80,5,62.4,1,99,7.84,99,0.1,15,9971727,1.7,1.7,0.821,15.4]])

array([49.718])

In [64]:
# Latvia-2007 (78)
rr.predict([[92,2007,0,221,0,12.12,170.9884,91,0,57.7,0,94,7.1,94,0.1,221,22325,2.4,2.4,0.814,16.2]])

array([50.008])

In [65]:
# Malawi-2010 (52.9)
rr.predict([[100,2010,1,462,35,1.08,9.728005,93,118712,17.6,54,86,1.5,93,13.7,462,1516795,6.8,6.7,0.43,10.2]])

array([49.952])

In [66]:
# Nepal-2002 (63.1)
rr.predict([[118,2002,1,238,40,0.19,23.18395,80,6749,12.4,54,72,5.6,72,0.1,238,24566342,18.2,18.8,0.447,8.6]])

array([49.837])