In [64]:
import pandas as pd
import numpy as np

In [65]:
life=pd.read_csv('/Users/vaishnaviuttarkar/Life Expectany/Life_Expectancy_Model/CleanedLifeExpectancy.csv')

In [66]:
life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2938 non-null   int64
 1   Country                       2938 non-null   object
 2   Year                          2938 non-null   int64
 3   Status                        2938 non-null   object
 4   Lifeexpectancy                2938 non-null   float64
 5   AdultMortality                2938 non-null   int64
 6   infantdeaths                  2938 non-null   int64
 7   Alcohol                       2938 non-null   float64
 8   percentageexpenditure         2938 non-null   float64
 9   HepatitisB                    2938 non-null   int64
 10  Measles                       2938 non-null   int64
 11  BMI                           2938 non-null   float64
 12  under-fivedeaths              2938 non-null   int64
 13  Polio                         2938 non-null   int64
 14  Totalexpenditure              2938 non-null   float64
 15  Diphtheria                    2938 non-null   int64
 16  HIV/AIDS                      2938 non-null   float64
 17  GDP                           2938 non-null   int64
 18  Population                    2938 non-null   int64
 19  thinness1-19years             2938 non-null   float64
 20  thinness5-9years              2938 non-null   float64
 21  Incomecompositionofresources  2938 non-null   float64
 22  Schooling                     2938 non-null   float64
dtypes: float64(10), int64(11), object(2)
memory usage: 528.0+ KB

In [67]:
life.drop('Unnamed: 0',inplace=True,axis=1)

In [68]:
life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       2938 non-null   object
 1   Year                          2938 non-null   int64
 2   Status                        2938 non-null   object
 3   Lifeexpectancy                2938 non-null   float64
 4   AdultMortality                2938 non-null   int64
 5   infantdeaths                  2938 non-null   int64
 6   Alcohol                       2938 non-null   float64
 7   percentageexpenditure         2938 non-null   float64
 8   HepatitisB                    2938 non-null   int64
 9   Measles                       2938 non-null   int64
 10  BMI                           2938 non-null   float64
 11  under-fivedeaths              2938 non-null   int64
 12  Polio                         2938 non-null   int64
 13  Totalexpenditure              2938 non-null   float64
 14  Diphtheria                    2938 non-null   int64
 15  HIV/AIDS                      2938 non-null   float64
 16  GDP                           2938 non-null   int64
 17  Population                    2938 non-null   int64
 18  thinness1-19years             2938 non-null   float64
 19  thinness5-9years              2938 non-null   float64
 20  Incomecompositionofresources  2938 non-null   float64
 21  Schooling                     2938 non-null   float64
dtypes: float64(10), int64(10), object(2)
memory usage: 505.1+ KB

Label Encoding

In [69]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
a= life.select_dtypes(include='object').columns
for i in a:
    life[i] = le.fit_transform(life[i])

In [70]:
life.dtypes

Country                           int64
Year                              int64
Status                            int64
Lifeexpectancy                  float64
AdultMortality                    int64
infantdeaths                      int64
Alcohol                         float64
percentageexpenditure           float64
HepatitisB                        int64
Measles                           int64
BMI                             float64
under-fivedeaths                  int64
Polio                             int64
Totalexpenditure                float64
Diphtheria                        int64
HIV/AIDS                        float64
GDP                               int64
Population                        int64
thinness1-19years               float64
thinness5-9years                float64
Incomecompositionofresources    float64
Schooling                       float64
dtype: object

Separating dependent and independent variables

In [71]:
life.shape

(2938, 22)

In [72]:
X=life.drop(columns='Lifeexpectancy')
y=life['Lifeexpectancy']

Performing train-test split

In [73]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

Feature scaling

In [74]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

Trying out several algorithms

In [75]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

In [76]:
alg=[LinearRegression(),Ridge(),Lasso(),DecisionTreeRegressor(),RandomForestRegressor(),XGBRegressor(),KNeighborsRegressor()]

names=['linearregression','ridgeregression','lassoregression','decisiontreeregressor','randomforestregressor','xgboostregressor','kneighborsregressor']

In [77]:
l1=[]
for i in alg:
    model=i
    model.fit(X_train,y_train)
    y_hat=model.predict(X_test)
    mse=mean_squared_error(y_test,y_hat)
    rmse=sqrt(mse)
    l1.append(rmse)

In [78]:
eval=pd.DataFrame({'Model':names,
                  'RMSE':l1})

In [79]:
eval

                   Model      RMSE
0       linearregression  3.924507
1        ridgeregression  3.932514
2        lassoregression  4.350379
3  decisiontreeregressor  3.066186
4  randomforestregressor  1.892419
5       xgboostregressor  2.026021
6    kneighborsregressor  2.510073

Conclusion: Random forest gives the best accuracy

In [80]:
from sklearn.ensemble import RandomForestRegressor

rr=RandomForestRegressor ()

rr.fit(X_train,y_train)

y_hat=rr.predict(X_test)

In [81]:
y_hat

array([73.464     , 75.917     , 74.669     , 76.446     , 51.323     ,
       51.822     , 65.494     , 73.876     , 76.995     , 54.837     ,
       52.232     , 54.767     , 58.568     , 75.05      , 70.77524385,
       62.126     , 57.521     , 79.042     , 68.485     , 79.031     ,
       80.528     , 83.438     , 70.91799727, 68.79524932, 71.32674522,
       67.391     , 55.186     , 65.324     , 82.522     , 73.564     ,
       67.103     , 73.94      , 73.795     , 71.954     , 78.679     ,
       48.584     , 60.208     , 72.75774522, 64.002     , 74.199     ,
       54.808     , 61.259     , 75.643     , 81.214     , 76.307     ,
       50.183     , 79.922     , 75.353     , 60.164     , 72.24      ,
       55.78      , 71.493     , 81.61      , 78.879     , 74.681     ,
       57.588     , 73.043     , 75.061     , 64.114     , 70.983     ,
       77.078     , 54.562     , 74.479     , 72.383     , 53.59      ,
       54.622     , 52.517     , 76.925     , 57.711     , 72.773     ,
       83.027     , 77.716     , 73.82524932, 51.69      , 55.401     ,
       68.049     , 64.603     , 76.014     , 58.601     , 61.729     ,
       63.666     , 62.706     , 64.033     , 65.448     , 64.677     ,
       79.334     , 73.253     , 67.256     , 72.566     , 80.074     ,
       73.265     , 54.34      , 73.627     , 76.199     , 75.546     ,
       68.2       , 80.265     , 70.85224932, 66.774     , 62.534     ,
       82.205     , 54.739     , 75.277     , 53.525     , 75.185     ,
       81.075     , 71.23024658, 67.114     , 59.149     , 62.363     ,
       65.298     , 62.49349863, 53.542     , 69.233     , 64.63      ,
       77.446     , 55.871     , 53.991     , 61.67      , 64.45      ,
       65.086     , 72.53624932, 82.073     , 56.454     , 59.424     ,
       66.027     , 72.28949863, 62.647     , 72.66049317, 72.13549863,
       74.234     , 83.271     , 71.811     , 66.413     , 52.415     ,
       67.886     , 75.655     , 78.827     , 76.033     , 74.995     ,
       71.97524932, 66.46324932, 62.616     , 57.346     , 50.759     ,
       64.538     , 71.386     , 73.915     , 62.002     , 78.026     ,
       75.622     , 82.536     , 68.28049863, 61.808     , 82.17      ,
       76.046     , 82.377     , 73.294     , 78.818     , 82.539     ,
       73.60124932, 81.677     , 67.782     , 80.795     , 73.767     ,
       65.472     , 59.8       , 82.382     , 78.305     , 72.947     ,
       82.074     , 73.77      , 71.848     , 58.662     , 74.298     ,
       65.382     , 71.98674795, 64.014     , 53.29      , 73.53      ,
       82.099     , 69.309     , 78.922     , 74.375     , 80.115     ,
       45.975     , 65.076     , 51.866     , 71.74      , 72.4614959 ,
       61.693     , 68.695     , 81.769     , 61.144     , 76.618     ,
       68.332     , 74.464     , 70.233     , 81.212     , 73.723     ,
       73.927     , 56.609     , 74.606     , 70.508     , 65.793     ,
       50.923     , 74.196     , 68.731     , 73.222     , 82.272     ,
       62.066     , 53.884     , 73.61974795, 52.721     , 59.956     ,
       62.224     , 66.66024932, 76.212     , 60.656     , 67.78524932,
       76.303     , 74.026     , 77.46      , 79.009     , 74.974     ,
       48.995     , 51.528     , 75.338     , 55.458     , 62.867     ,
       71.38049863, 74.774     , 64.853     , 74.454     , 72.66374522,
       51.016     , 80.011     , 79.212     , 51.027     , 75.227     ,
       74.468     , 70.805     , 73.0664959 , 72.15099727, 59.541     ,
       53.651     , 82.994     , 73.084     , 75.655     , 64.516     ,
       67.868     , 78.263     , 59.709     , 83.407     , 73.999     ,
       68.484     , 56.767     , 81.828     , 58.022     , 53.569     ,
       66.219     , 67.612     , 61.841     , 52.242     , 73.125     ,
       81.725     , 68.354     , 78.642     , 50.394     , 57.535     ,
       58.602     , 51.671     , 73.3       , 74.133     , 48.212     ,
       72.78424932, 59.688     , 73.156     , 64.091     , 64.327     ,
       66.48      , 79.573     , 57.577     , 73.926     , 76.597     ,
       63.608     , 73.644     , 46.779     , 63.63749863, 74.874     ,
       64.906     , 73.24      , 64.67      , 74.723     , 76.168     ,
       63.449     , 77.169     , 73.064     , 46.865     , 72.833     ,
       76.17      , 74.725     , 73.525     , 74.766     , 78.188     ,
       50.833     , 56.053     , 53.863     , 71.75974795, 78.292     ,
       75.171     , 58.41      , 73.553     , 64.282     , 69.595     ,
       65.552     , 48.593     , 73.182     , 57.367     , 80.136     ,
       54.408     , 78.909     , 54.667     , 72.715     , 69.10273702,
       78.103     , 74.602     , 72.01624932, 73.68574795, 81.626     ,
       73.237     , 70.414     , 65.154     , 67.248     , 75.89      ,
       83.281     , 68.768     , 74.451     , 72.983     , 72.747     ,
       64.945     , 74.09      , 74.506     , 73.097     , 72.747     ,
       53.201     , 58.025     , 74.83      , 71.919     , 75.637     ,
       60.686     , 69.25424932, 62.908     , 57.432     , 75.519     ,
       81.708     , 67.493     , 69.79247951, 73.15224932, 76.157     ,
       55.234     , 73.859     , 76.787     , 66.716     , 69.902     ,
       62.755     , 58.661     , 75.829     , 62.6       , 75.169     ,
       73.44424932, 57.086     , 73.162     , 76.059     , 73.193     ,
       72.6524959 , 59.647     , 72.12024932, 73.058     , 67.327     ,
       52.05      , 82.133     , 81.506     , 82.439     , 63.622     ,
       54.85      , 73.569     , 58.905     , 68.249     , 74.198     ,
       54.099     , 78.777     , 73.83224932, 80.419     , 65.105     ,
       65.756     , 82.074     , 73.08924932, 85.448     , 73.895     ,
       53.391     , 78.416     , 52.391     , 69.088     , 64.786     ,
       59.923     , 70.941     , 72.483     , 68.81924932, 73.531     ,
       73.884     , 82.171     , 81.121     , 73.147     , 67.781     ,
       69.114     , 63.234     , 73.03249317, 70.679     , 69.924     ,
       64.938     , 59.717     , 66.638     , 73.281     , 73.2344959 ,
       75.797     , 56.423     , 62.067     , 72.181     , 70.64      ,
       48.191     , 75.911     , 71.795     , 67.688     , 46.636     ,
       55.503     , 53.62      , 66.528     , 69.37849863, 76.465     ,
       74.456     , 70.90524385, 72.41074795, 78.55      , 81.81      ,
       68.321     , 76.263     , 79.93      , 78.784     , 56.274     ,
       82.797     , 61.822     , 69.38973702, 74.048     , 53.181     ,
       80.569     , 82.438     , 51.763     , 67.635     , 73.652     ,
       73.031     , 60.885     , 62.593     , 64.517     , 60.355     ,
       56.503     , 82.488     , 71.61      , 81.763     , 68.484     ,
       73.317     , 75.731     , 71.73      , 72.67649863, 82.808     ,
       67.906     , 63.632     , 67.348     , 80.247     , 77.822     ,
       76.494     , 69.169     , 73.444     , 72.844     , 67.01      ,
       79.513     , 74.941     , 81.884     , 71.83574795, 75.883     ,
       72.56424932, 71.767     , 52.991     , 66.798     , 70.041     ,
       64.009     , 84.722     , 73.392     , 62.949     , 71.786     ,
       75.12      , 57.113     , 82.242     , 73.029     , 75.608     ,
       82.003     , 73.211     , 80.997     , 75.755     , 73.983     ,
       62.723     , 71.24224932, 71.212     , 70.71849863, 52.812     ,
       63.735     , 61.402     , 63.004     , 69.926     , 59.613     ,
       70.819     , 83.661     , 69.142     , 74.841     , 68.349     ,
       63.853     , 62.926     , 71.25949863, 76.747     , 82.915     ,
       54.756     , 72.435     , 73.893     , 80.615     , 72.425     ,
       83.062     , 72.53      , 75.604     , 84.049     , 81.504     ,
       77.485     , 51.892     , 57.278     , 69.887     , 75.112     ,
       63.112     , 70.363     , 57.456     , 55.761     , 72.381     ,
       74.901     , 57.819     , 82.916     , 55.709     , 74.622     ,
       69.97      , 78.257     , 68.168     , 75.83      , 79.156     ,
       59.498     , 82.438     , 82.358     , 75.269     , 50.149     ,
       75.105     , 79.65      , 83.296     , 54.814     , 72.743     ,
       74.804     , 62.908     , 78.265     , 72.656     , 73.22349863,
       67.537     , 72.99199727, 70.56949863, 57.515     , 74.274     ,
       56.44      , 77.576     , 80.002     , 57.755     , 74.159     ,
       63.671     , 70.90024932, 73.868     ])

In [82]:
from sklearn.metrics import r2_score
r2_score(y_hat,y_test)

0.9556487152802403

In [83]:
life.columns

Index(['Country', 'Year', 'Status', 'Lifeexpectancy', 'AdultMortality',
       'infantdeaths', 'Alcohol', 'percentageexpenditure', 'HepatitisB',
       'Measles', 'BMI', 'under-fivedeaths', 'Polio', 'Totalexpenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness1-19years',
       'thinness5-9years', 'Incomecompositionofresources', 'Schooling'],
      dtype='object')

In [84]:
life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       2938 non-null   int64
 1   Year                          2938 non-null   int64
 2   Status                        2938 non-null   int64
 3   Lifeexpectancy                2938 non-null   float64
 4   AdultMortality                2938 non-null   int64
 5   infantdeaths                  2938 non-null   int64
 6   Alcohol                       2938 non-null   float64
 7   percentageexpenditure         2938 non-null   float64
 8   HepatitisB                    2938 non-null   int64
 9   Measles                       2938 non-null   int64
 10  BMI                           2938 non-null   float64
 11  under-fivedeaths              2938 non-null   int64
 12  Polio                         2938 non-null   int64
 13  Totalexpenditure              2938 non-null   float64
 14  Diphtheria                    2938 non-null   int64
 15  HIV/AIDS                      2938 non-null   float64
 16  GDP                           2938 non-null   int64
 17  Population                    2938 non-null   int64
 18  thinness1-19years             2938 non-null   float64
 19  thinness5-9years              2938 non-null   float64
 20  Incomecompositionofresources  2938 non-null   float64
 21  Schooling                     2938 non-null   float64
dtypes: float64(10), int64(12)
memory usage: 505.1 KB

In [85]:
inputfeatures=[15,2016,1,100,1000,3.4,56.6,80,8000,19.1,800,90,5.9,90,0.3,1500.1,13245172,20.1,26.5,0.643,11.1]

In [86]:
input_features=sc.fit_transform([inputfeatures])

In [87]:
rr.predict(input_features)

array([63.673])

In [88]:
rr.predict([[20,2017,0,100,1000,4.4,57.6,80,9000,18.1,700,80,6.9,80,0.4,2500.1,132451723,21.1,25.5,0.463,12.1]])

array([50.012])

- Testing training data as an input

Expected = 79.7

In [89]:
# Iceland-2000 (79.7)
inputfeatures=[75,2000,0,74,0,6.17,5809.122,80,0,54.2,0,98,9.28,98,0.1,74,28125,1,0.9,0.847,16.8]
input_features=sc.fit_transform([inputfeatures])
rr.predict(input_features)

array([63.673])

In [90]:
# Iraq-2015 (68.9)
inputfeatures=[79,2015,1,182,32,4.602861,0,56,1433,59.1,38,63,5.93819,58,0.1,182,36115649,5.3,5.1,0.649,10.1]
input_features=sc.fit_transform([inputfeatures])
rr.predict(input_features)

array([63.673])

In [91]:
# Greece-2014 (88)
inputfeatures=[66,2014,1,73,0,7.53,2163.043,96,1,66,0,99,8.8,99,0.1,73,1892413,0.8,0.7,0.862,17.2]
input_features=sc.fit_transform([inputfeatures])
rr.predict(input_features)

array([63.673])

In [92]:
# Cyprus-2015 (85)
inputfeatures=[43,2015,0,52,0,4.602861,0,97,0,6.3,0,97,5.93819,97,0.1,52,116985,1,1,0.854,14.3]
input_features=sc.fit_transform([inputfeatures])
rr.predict(input_features)

array([63.673])

In [93]:
# Hungary-2011 (74.8)
inputfeatures=[79,2015,1,182,32,4.602861,0,56,1433,59.1,38,63,5.93819,58,0.1,182,36115649,5.3,5.1,0.649,10.1]
input_features=sc.fit_transform([inputfeatures])
rr.predict(input_features)

array([63.673])

In [98]:
# Latvia-2007 (78)
inputfeatures=[92,2007,0,221,0,12.12,170.9884,91,0,57.7,0,94,7.1,94,0.1,221,22325,2.4,2.4,0.814,16.2]
input_features=sc.fit_transform([inputfeatures])
rr.predict(input_features)

array([63.673])

In [99]:
# Malawi-2010 (52.9)
inputfeatures=[100,2010,1,462,35,1.08,9.728005,93,118712,17.6,54,86,1.5,93,13.7,462,1516795,6.8,6.7,0.43,10.2]
input_features=sc.fit_transform([inputfeatures])
rr.predict(input_features)

array([63.673])

In [100]:
# Nepal-2002 (63.1)
inputfeatures=[118,2002,1,238,40,0.19,23.18395,80,6749,12.4,54,72,5.6,72,0.1,238,24566342,18.2,18.8,0.447,8.6]
input_features=sc.fit_transform([inputfeatures])
rr.predict(input_features)

array([63.673])